@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5dvh;
    box-shadow: 0 10px 30px rgba(243, 4, 4, 0.3);
    backdrop-filter: blur(10px);
    border: 5px solid rgba(255, 255, 255, 0.3);
    transform: translateZ(0);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.profile-container p {
    font-size: 18px;
    margin: 10px 0;
    color: #fff;
}

.profile-container p strong {
    color: #050505;
}

input {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 100%;
    color: white;
    transition: all 0.3s ease-in-out;
}

input:disabled {
    background: rgba(255, 255, 255, 0.1);
}

input:focus {
    border-color: #ff9800;
}

button {
    background-color: transparent;
    color: #080808;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #fcf9f4;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #ff9800;
    color: #fff;
    box-shadow: 0 5px 15px rgba(255, 152, 0, 0.3);
}
